services:
    # FormType

    form.type.json:
        class: IDCI\Bundle\SimpleMetadataBundle\Form\Type\JsonType
        tags:
            - { name: form.type, alias: json }

    form.type.metadata:
        class: IDCI\Bundle\SimpleMetadataBundle\Form\Type\MetadataType
        tags:
            - { name: form.type, alias: metadata }

    form.type.related_to_one_metadata:
        class: IDCI\Bundle\SimpleMetadataBundle\Form\Type\RelatedToOneMetadataType
        arguments: [null]
        tags:
            - { name: form.type, alias: related_to_one_metadata }

    form.type.related_to_many_metadata:
        class: IDCI\Bundle\SimpleMetadataBundle\Form\Type\RelatedToManyMetadataType
        arguments: [null]
        tags:
            - { name: form.type, alias: related_to_many_metadata }


    ## Doctrine Subscriber ##

    idci_simple_metadata.subscriber:
        class: IDCI\Bundle\SimpleMetadataBundle\Metadata\MetadataSubscriber
        arguments: ["@idci_simple_metadata.metadatable_manager"]
        tags:
            - { name: doctrine.event_subscriber, connection: default }


    ## Manager ##

    idci_simple_metadata.metadatable_manager:
        class: IDCI\Bundle\SimpleMetadataBundle\Metadata\MetadatableManager

    idci_simple_metadata.metadata_manager:
        class: IDCI\Bundle\SimpleMetadataBundle\Metadata\MetadataManager
        arguments: ["@idci_simple_metadata.metadatable_manager", "@doctrine.orm.entity_manager"]


    ## Twig Extensions ##

    idci_simple_metadata.twig.metadata_extension:
        class: IDCI\Bundle\SimpleMetadataBundle\Twig\MetadataExtension
        arguments: ["@idci_simple_metadata.metadata_manager", "@idci_simple_metadata.metadatable_manager"]
        tags:
            - { name: twig.extension }
